<?xml version="1.0"?>
<!--
  Standalone instantiation of the d1_arm macro for isolated inspection
  (RViz joint_state_publisher_gui check) before it's wired into Go2's
  robot.xacro. Not used by the actual Gazebo integration.
-->
<robot name="d1_550_description_standalone" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find d1_550_description)/urdf/d1_arm.xacro"/>

  <link name="world"/>

  <xacro:d1_arm parent="world" prefix="d1_" xyz="0 0 0" rpy="0 0 0"/>

</robot>
